<div class="navBar hidden-xs">
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/about">About</a>
    </li>
    <li>
      <a href="/available">Available</a>
    </li>
    <li>
      <a href="/donate">Donate</a>
    </li>
    <li>
      <a href="/contact">Contact</a>
    </li>
  </ul>
</div>

<div class="visible-xs menu">
  <button onclick="menuClick()" class="dropbtn">
    ≡
  </button>
  <div id="myDropdown" class="dropdown-content">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/available">Available</a>
    <a href="/donate">Donate</a>
    <a href="/contact">Contact</a>
  </div>
</div>