<div class="navBar hidden-xs">
  <ul>
    <li>
      <a href="default.asp">Home</a>
    </li>
    <li>
      <a href="news.asp">About</a>
    </li>
    <li>
      <a href="contact.asp">Available</a>
    </li>
    <li>
      <a href="about.asp">Donate</a>
    </li>
    <li>
      <a href="about.asp">Contact</a>
    </li>
  </ul>
</div>

<div class="visible-xs menu">
  <button onclick="menuClick()" class="dropbtn">
    ≡
  </button>
  <div id="myDropdown" class="dropdown-content">
    <a href="#">Home</a>
    <a href="#about">About</a>
    <a href="#projects">Available</a>
    <a href="#experience">Donate</a>
    <a href="#education">Education</a>
  </div>
</div>