<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Companions Forever | Contact</title>
</head>
<body class="container-fluid">
    <form method="post">
        <input type="text" name="name"/>
        <input type="email" name="email"/>
        <input type="textarea" name="message"/>
        <input type="submit"/>
    </form>
</body>
</html>