body {
  font-size: x-large;
  max-width: 100%;
}

.backgroundImage {
    /* The image used */
    background-image: url('https://c.pxhere.com/photos/57/95/girl_lady_woman_women_asia_female_fashion_sexy-829819.jpg!d');

    /* Full height */
    /* height: 100%;  */

    /* Create the parallax scrolling effect */
    /* background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}
.border{
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}